.course-container,
.account-saved-course-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    @media (max-width: 800px) {
      justify-content: center;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  .course-card {
    .course-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: none;
        cursor: pointer;
      }
      .star {
        height: 30px;
        width: 30px;
        stroke-width: 0px;
      }

      .star.chosen {
        // fill: rgb(0, 195, 255);
        fill: #eac950;
        stroke-width: 1px;
      }
    }

    h2 {
      text-align: center;
    }
    height: 280px;
    width: 315px;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
    flex-direction: column;
    transition: 0.3s;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.331),
      1px 4px 15px rgba(0, 0, 0, 0.1);

    > * + * {
      margin: 10px 0;
    }

    .course-card-image {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
      }
    }
    button:not(.save-on-card) {
      @extend %base-button;
      height: 35px;
      width: 100%;
      background: linear-gradient(90deg, rgb(70, 70, 70), rgb(53, 53, 53));
      color: white;
    }
  }
  .course-card:hover {
    box-shadow: 1px 7px 9px rgba(0, 0, 0, 0.431),
      1px 7px 25px rgba(0, 0, 0, 0.2);
  }
}

.course-container {
  .separator {
    border-bottom: 2px rgb(212, 212, 212) solid;
    margin: 15px 0 10px;
  }
  .course-search {
    align-self: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      font-size: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    padding-bottom: 10px;
    input {
      width: 15%;
      transition: 0.7s;
      transition-timing-function: ease-in-out;
      border-radius: 20px;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 500;
    }

    input:focus {
      width: 100%;
    }
  }
}
