@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");
$main: rgb(105, 105, 105);
$accent: rgb(139, 139, 139);
$font: "PT Sans Narrow", sans-serif;

%base-button {
  font-weight: 500;
  cursor: pointer;
  font: $font;
}

body {
  font-family: $font;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

input,
button {
  min-height: 35px;
  font-size: 18px;
  border-radius: 2px;
}
input {
  padding-left: 5px;
  border: solid 1px grey;
}

button:focus {
  outline: rgb(0, 140, 255) auto 2px;
}

input:focus {
  outline: rgb(0, 26, 51) auto 2px;
}

.logo {
  width: 100px;

  img {
    width: 100%;
  }
}

@import "./components/Header/Header.scss";
@import "./components/Auth/Auth.scss";
@import "./components/Home/Home.scss";
@import "./components/SingleCourse/SingleCourse";
@import "./components/Course/Course.scss";
@import "./components/Account/Account.scss";
@import "./components/Admin/Admin.scss";
